# Dependencies and Build
node_modules/
dist/

# Private scripts
push.bat

# Large Media Files (exceeding 100MB limit for GitHub)
public/assets/Priscilla 02/cinematic_masterwork.mov
public/assets/Priscilla 02/photography_portfolio.mp4
public/assets/videos projeto Priscila/Bradesco Alfaville.MOV
public/assets/Priscilla 02/lv_0_20251208125824.mp4
public/assets/videos projeto Priscila/VEDACIT-Legendado.mp4
